extends template

block content
  nav
    ul.login-nav
      li.login-nav__li
        a.login-nav__link(href='/users/applications?token=' + token) Applications
      li.login-nav__li
        a.login-nav__link(href='/logout/' + token) LOG OUT
  div.danger#error-message
  #apps
    h3.title here are all your applications that store passwords
    p.center
      a.button(href='/users/createapplication') create new application
    div.cards
      each val, index in app
        div.card
          a.card__name(href='/users/passwords/' + val.name + '/' + index + '?token=' + token)
            h4 #{val.name}
          div.card__config
            p.card__delete
              a(href='/users/deleteapplication?token=' + token)
                img(src='/imgs/delete.svg')
            p.card__update
              a(href='/users/updateapplication/' + val.name +  '?token=' + token)
                img(src='/imgs/wrench.svg')