extends template

block content
  div.logo
    img.logo__svg(src='/imgs/logo-lock.svg' alt='lock logo')
    p.danger#error-message

  form.form#create-password(data-appname=appname)
    label.form__label(for='username') username
    input.form__input(type='text' name='username' placeholder="username")
    label.form__label(for='hash') password
    input.form__input(type='password' name='hash' placeholder="password")
    button.button(type='submit') create account
