extends template

block content
  div.logo
    img.logo__svg(src='/imgs/logo-lock.svg' alt='lock logo')
    p.danger#error-message

  form.form#create-application
    label.form__label(for='username') application name
    input.form__input(type='text' name='newApplication' placeholder="application name")
    button.button(type='submit') create new application
