extends template

block content
  h2 create new password
  p create a new password to store

  div#error-message

  form#create-password(data-appname=appname)
    input(type='text' name='username' placeholder="username")
    input(type='password' name='hash' placeholder="password")
    button(type='submit') submit
