extends template

block content
  div.logo
    img.logo__svg(src='/imgs/logo-lock.svg' alt='lock logo')
    p.danger insert the new 'username' and new 'password' to update it. warning there will be no way to recover it.
    div.danger#error-message

  form.form#delete-password(data-id=index, data-appName=appName)
    label.form__label(for='username') username
    input.form__input(type='text' name='username' placeholder='username...')
    label.form__label(for='hash') hash
    input.form__input(type='text' name='hash' placeholder='password...')
    button.button(type="submit") delete account

