extends template

block content
  div#error-message
  form#login-form
    h1 sign up for password manager on the CLOUD
    input#username-login(type="text" name="username" placeholder="username")
    input#hash-login(type="text" name="hash" placeholder="hash")
    button(type="submit") submit