extends template

block content
  nav
    ul.login-nav
      li.login-nav__li
        a.login-nav__link(href='/users/applications?token=' + token) Applications
      li.login-nav__li
        a.login-nav__link(href='/logout/' + token) LOG OUT
  #apps
    div.title
      h3.title__text all your passwords for
      h3.title__text #{appName}
    p.center
      a.button(href='/users/createpassword/' + appName) create account

    div.cards
      each val, index in body
        div.card.card--left
          p.label.label--left username
          h4.title--left #{val.username}
          p.label.label--left password
          h4.title--left #{val.password}
          div.card__config
            p.card__delete
              a(href='/users/deletepassword/' +appName +'/' +index + '?token=' + token)
                img(src='/imgs/delete.svg')
            p.card__update
              a(href='/users/updatepassword/' +appName +'/' +index + '?token=' + token)
                img(src='/imgs/wrench.svg')


