extends template

block content
  a(href='/users/createpassword/' + appName) create password
  h1 all your passwords for #{appName}
  #apps
    each val, index in body
      p username #{val.username}
      p password #{val.password}

      p
        a(href='/users/deletepassword/' +appName +'/' +index + '?token=' + token) delete password
      p
        a(href='/users/updatepassword/' +appName +'/' +index + '?token=' + token) update password
    else
      a(href='/users/createpassword/' + appName) create a new password
