extends template

block content
  h1 register here
  p unless you want to lose your password :)
  div#error-message
  form#register-form
    h1 sign up for password manager on the CLOUD
    input#username(type="text" name="username" placeholder="username")
    input#hash(type="password" name="hash" placeholder="hash")
    button(type="submit") submit
