extends template

block content
  div.logo
    img.logo__svg(src='imgs/logo-lock.svg' alt='lock logo')
    div.danger#error-message
  form.form#register-form
    label.form__label(for='username') username
    input.form__input#username-login(type='text' name='username' placeholder='username')
    label.form__label(for='hash') password
    input.form__input#hash-login(type='password' name='hash' placeholder='password')
    button.button(type='submit') sign up