doctype html
html
  head
    title= title || "password manager"
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/js/main.min.js')
    if token
        script localStorage.token = "#{token}"
    block postScript
    if dev
        script(src='//localhost:10000/livereload.js')