extends template

block content
  div.logo
    img.logo__svg(src='/imgs/logo-lock.svg' alt='lock logo')
  div#error-message

  form.form#update-application(data-id=id)
    label.form__label(for='changeName') new application name
    input.form__input(type='text' name='changeName' placeholder='application name...')
    button.button(type="submit") update application name