$margin = 0 15%

.contain
  max-width: 1360px
  margin: 0 auto

.nav, .cta
  margin: $margin

.nav
  display: flex
  justify-content: space-between
  text-transform: uppercase
  font-weight: 500

.about
  background-color: #f4f9fd
  padding: 10% 15%

  &__header
    font-size: 25px

  &__description
    max-width: 500px
